* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Debug color  */

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

/* Body  */

body {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    background: linear-gradient(#009688 0%, #009688 20%, #D9DBD4 20%, #D9DBD4 100%);
}

.container {
    display: flex;
    background-color: #EAEAEA;
    width: 80%;
    height: 95%;
    margin: 25px auto;
}

.leftCont {
    background-color: #EAEAEA;
    width: 40%;
    height: 100%;
}

.rightCont {
    width: 60%;
    height: 100%;
    background-image: url(../img/mine.jpg);
}

i {
    color: #AEAEAE;
    font-size: 20px;
}

/* leftCont  */

.userBar {
    width: 100%;
    height: 70px;
    display: flex;
}

.notice {
    width: 100%;
    height: 80px;
    background-color: #8EDAFC;
}

.searchBar {
    width: 100%;
    height: 50px;
}

.userCont {
    width: 100%;
    height: calc(100% - 200px);
    background-color: white;
    overflow-y: scroll;
}

/* rightCont  */

.chatBar {
    width: 100%;
    height: 70px;
    border-left: 1px solid #E3DBD3;
    background-color: #EAEAEA;
}

.chatCont {
    width: 100%;
    height: calc(100% - 140px);
    overflow-y: scroll;
}

.sendBar {
    width: 100%;
    height: 70px;
    background-color: #F3EEEA;
}

/* userBar  */

.userImg {
   margin: auto 10px;
   display: flex;
   flex-grow: 2;
}

.userImg img {
    width: 50px;
    border-radius: 50%;
}

.userImg span {
    display: block;
    line-height: 50px;
}

.buttonsGrid {
    margin: auto 20px;
}

.buttonsGrid i {
    padding: 6px;
}

/* notice */