* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Active class  */

.active {
    background-color: #e9ebebc4;
}

.utent {
    background-color: #FFFFFF;
}

.user {
    background-color: #D5F9BA;
    grid-column: 3;
}

/* Body  */

body {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    background: linear-gradient(#009688 0%, #009688 13%, #D9DBD4 13%, #D9DBD4 100%);
}

.container {
    display: flex;
    background-color: #EAEAEA;
    width: 80%;
    height: 95%;
    margin: 25px auto;
}

.leftCont {
    background-color: #FAFAFA;
    width: 40%;
    height: 100%;
}

.rightCont {
    width: 60%;
    height: 100%;
    background-image: url(../img/mine.jpg);
}

i {
    color: #AEAEAE;
    font-size: 20px;
}

/* leftCont  */

.userBar {
    width: 100%;
    height: 70px;
    display: flex;
}

.notice {
    width: 100%;
    height: 80px;
    background-color: #8EDAFC;
    display: flex;
}

.searchBar {
    width: 100%;
    height: 50px;
    display: flex;
    padding: 7px;
    background-color: #FAFAFA;
}

.userCont {
    width: 100%;
    height: calc(100% - 200px);
    background-color: white;
    overflow-y: scroll;
}

/* rightCont  */

.chatBar {
    width: 100%;
    height: 70px;
    border-left: 1px solid #E3DBD3;
    background-color: #EAEAEA;
    display: flex;
    padding: 10px 0;
}

.chatCont {
    width: 100%;
    height: calc(100% - 140px);
    overflow-y: auto;
}

.sendBar {
    width: 100%;
    height: 70px;
    background-color: #F3EEEA;
    display: flex;
    padding: 10px 0;
}

/* userBar  */

.userImg {
   margin: auto 10px;
   display: flex;
   flex-grow: 2;
}

.userImg img {
    width: 50px;
    border-radius: 50%;
}

.userImg span {
    display: block;
    line-height: 50px;
}

.buttonsGrid {
    margin: auto 20px;
}

.buttonsGrid i {
    padding: 6px;
}

/* notice */

.notice .bell {
    margin: auto 10px;
}

.notice i {
    color: #8EDAFC;
    background-color: #F2FBFF;
    padding:  12px 10px;
    border-radius: 50%;
    margin-left: 10px;
}

.silentBell {
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

.silentBell a {
    color: #5D8EA7;
    font-size: 15px;
}

/* searchBar  */

.searchBar .lens {
    background-color: white;
    flex-grow: 0;
    padding: 0 30px ;
    border: 1px solid #FAFAFA;
    display: flex;
    align-items: center;
}

.searchBar .lens i {
    font-size: 18px;
}

.searchBar input {
    flex-grow: 2;
    border: 1px solid #FAFAFA;
    padding-left: 10px;
}

/* userCont  */

.userCont .userSubCont {
    display: flex;
    width: 100%;
    height: 80px;
    padding: 10px;
    border-top: 1px solid #E9EBEB;
}

.userCont .utentImg {
    flex-grow: 0;
}

.userCont .utentImg img {
    width: 60px;
    border-radius: 50%;
}

.userCont .utentName {
    flex-grow: 2;
    padding-left: 20px;
    padding-top: 5px;
}

.userCont .utentName span {
    font-size: 18px;
}

.userCont .utentName p {
    font-size: 14px;
    color: #BAC4D0;
}

.userCont .utentLastAcces {
    font-size: 13px;
    color: #BAC4D0;
    flex-grow: 0;
}

/* chatBar  */

.chatBar .activeUserBar img {
    flex-grow: 0;
}

.chatBar .activeUserName {
    flex-grow: 2;
    margin: auto 5px;
}

.chatBar .activeUserName span {
    font-size: 16px;
}

.chatBar .activeUserName p {
    font-size: 14px;
    color: #BAC4D0;
}


.chatBar .buttonsGrid {
    flex-grow: 0;
}

/* sendBar  */

.sendBar i {
    font-size: 22px;
    color: #6B7375;
}

.sendBar .textSend {
    flex-grow: 2;
}

.sendBar .textSend input {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
}

.sendBar .emoticonSend {
    flex-grow: 0;
    margin: auto 30px;
}

.sendBar .audioSend {
    flex-grow: 0;
    margin: auto 30px;
}

/* chatCont   */

.chatCont ul {
    margin: 0 auto;
    width: 80%;
    height: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
}

.chatCont li {
    width: 100%;
    height: 50px;
    margin: 5px 0;
    list-style: none;
    display: grid;
  grid-template-columns: 1fr 1fr;
}

.chatCont .sms {
    min-width: 250px;
    height: 100%;
    display: flex;
    border-radius: 10px;
}

.chatCont .sms span {
    line-height: 50px;
    display: inline-block;
    padding: 0 15px;
    flex-grow: 2;
}

.chatCont .sms .sendTime {
    align-self: flex-end;
    font-size: 10px;
    color: #BDC4BA;
    flex-grow: 0;
    padding-right: 5px;
    padding-bottom: 5px;
}

/* deleteMenu  */

.deleteMenu  {
    height: 35px;
    display: flex;
    justify-content: end;
}

.deleteMenu .arrow {
    position: relative;
}

.deleteMenu i {
    padding-right: 5px;
}

.deleteMenu .select {
    z-index: 20;
    display: none;
    position: absolute;
    background-color: white;
    width: 150px;
    font-size: 15px;
    padding: 20px;
    border: 1px solid black;
    top: 25px;
    right: 5px;
    cursor: pointer;
}

.deleteMenu .select .delete {
    padding-top: 15px;
}

.arrow:hover .select {
    display: block;
}